.svg-about_bg_left {
	background: url("svg/sprite.css-769167c6.svg") 0 99.94574104577782% no-repeat;
}

.svg-about_bg_left-dims {
	width: 900.006px;
	height: 1013.986px;
}

.svg-about_bg_right {
	background: url("svg/sprite.css-769167c6.svg") 52.95183944638632% 99.35172225243458% no-repeat;
}

.svg-about_bg_right-dims {
	width: 900.331px;
	height: 1009.986px;
}

.svg-about_header {
	background: url("svg/sprite.css-769167c6.svg") 95.1547668494114% 50.74663694977315% no-repeat;
}

.svg-about_header-dims {
	width: 498.161px;
	height: 175.44px;
}

.svg-arrow_down {
	background: url("svg/sprite.css-769167c6.svg") 98.7704383219021% 48.59722252219175% no-repeat;
}

.svg-arrow_down-dims {
	width: 25.18px;
	height: 16.164px;
}

.svg-bg {
	background: url("svg/sprite.css-769167c6.svg") 0 0 no-repeat;
}

.svg-bg-dims {
	width: 2000px;
	height: 354.69px;
}

.svg-blog_header {
	background: url("svg/sprite.css-769167c6.svg") 87.03951202167981% 63.761603484231735% no-repeat;
}

.svg-blog_header-dims {
	width: 302.193px;
	height: 208.012px;
}

.svg-check {
	background: url("svg/sprite.css-769167c6.svg") 98.96449658305175% 44.03628829809033% no-repeat;
}

.svg-check-dims {
	width: 18.164px;
	height: 13.922px;
}

.svg-envelope {
	background: url("svg/sprite.css-769167c6.svg") 96.90351545468793% 52.31580622018905% no-repeat;
}

.svg-envelope-dims {
	width: 22.012px;
	height: 17.295px;
}

.svg-envelope2 {
	background: url("svg/sprite.css-769167c6.svg") 96.9406674427629% 51.303935116155024% no-repeat;
}

.svg-envelope2-dims {
	width: 23px;
	height: 16.391px;
}

.svg-envelope_n {
	background: url("svg/sprite.css-769167c6.svg") 97.77538160469668% 46.70549450549451% no-repeat;
}

.svg-envelope_n-dims {
	width: 45px;
	height: 45px;
}

.svg-github {
	background: url("svg/sprite.css-769167c6.svg") 99.26577311577311% 40.78476821192053% no-repeat;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
}

.svg-github_round {
	background: url("svg/sprite.css-769167c6.svg") 98.23925490196079% 36.74219228413962% no-repeat;
}

.svg-github_round-dims {
	width: 50px;
	height: 50px;
}

.svg-hamburger {
	background: url("svg/sprite.css-769167c6.svg") 99.80863281250001% 42.47572815533981% no-repeat;
}

.svg-hamburger-dims {
	width: 40px;
	height: 35px;
}

.svg-in {
	background: url("svg/sprite.css-769167c6.svg") 99.65687111801242% 49.769225486758934% no-repeat;
}

.svg-in-dims {
	width: 24px;
	height: 22.938px;
}

.svg-in_round {
	background: url("svg/sprite.css-769167c6.svg") 98.23925490196079% 39.80404164115126% no-repeat;
}

.svg-in_round-dims {
	width: 50px;
	height: 50px;
}

.svg-link {
	background: url("svg/sprite.css-769167c6.svg") 97.43412602315107% 53.41278641724889% no-repeat;
}

.svg-link-dims {
	width: 19.125px;
	height: 19.125px;
}

.svg-login {
	background: url("svg/sprite.css-769167c6.svg") 99.97095747145151% 37.625526362185155% no-repeat;
}

.svg-login-dims {
	width: 14.137px;
	height: 15.422px;
}

.svg-map_marker {
	background: url("svg/sprite.css-769167c6.svg") 99.8550012012307% 40.77627417768484% no-repeat;
}

.svg-map_marker-dims {
	width: 15.151px;
	height: 21.654px;
}

.svg-map_n {
	background: url("svg/sprite.css-769167c6.svg") 99.53663405088062% 46.70549450549451% no-repeat;
}

.svg-map_n-dims {
	width: 45px;
	height: 45px;
}

.svg-password {
	background: url("svg/sprite.css-769167c6.svg") 99.42851678775487% 48.591975122014425% no-repeat;
}

.svg-password-dims {
	width: 16.897px;
	height: 15.984px;
}

.svg-phone {
	background: url("svg/sprite.css-769167c6.svg") 98.16522647392466% 53.404377163659% no-repeat;
}

.svg-phone-dims {
	width: 18.864px;
	height: 18.863px;
}

.svg-phone2 {
	background: url("svg/sprite.css-769167c6.svg") 96.69646852264441% 53.471339361620835% no-repeat;
}

.svg-phone2-dims {
	width: 16.492px;
	height: 20.947px;
}

.svg-phone_n {
	background: url("svg/sprite.css-769167c6.svg") 97.77538160469668% 49.45274725274726% no-repeat;
}

.svg-phone_n-dims {
	width: 45px;
	height: 45px;
}

.svg-portf_arrow_down {
	background: url("svg/sprite.css-769167c6.svg") 99.91541741486213% 39.2615209913232% no-repeat;
}

.svg-portf_arrow_down-dims {
	width: 42.736px;
	height: 27.435px;
}

.svg-portf_arrow_up {
	background: url("svg/sprite.css-769167c6.svg") 99.91541741486213% 36.24140399199065% no-repeat;
}

.svg-portf_arrow_up-dims {
	width: 42.736px;
	height: 27.435px;
}

.svg-portfolio_header {
	background: url("svg/sprite.css-769167c6.svg") 0 25.90795441181734% no-repeat;
}

.svg-portfolio_header-dims {
	width: 1175.495px;
	height: 313.961px;
}

.svg-skype {
	background: url("svg/sprite.css-769167c6.svg") 98.72519409937888% 49.80108499095841% no-repeat;
}

.svg-skype-dims {
	width: 24px;
	height: 24px;
}

.svg-skype_n {
	background: url("svg/sprite.css-769167c6.svg") 100% 0 no-repeat;
}

.svg-skype_n-dims {
	width: 600px;
	height: 600px;
}

.svg-stars1 {
	background: url("svg/sprite.css-769167c6.svg") 95.40241983574091% 59.82542362315319% no-repeat;
}

.svg-stars1-dims {
	width: 186.861px;
	height: 110.966px;
}

.svg-stars2 {
	background: url("svg/sprite.css-769167c6.svg") 92.19238212888614% 74.07210577233151% no-repeat;
}

.svg-stars2-dims {
	width: 171.5px;
	height: 132.5px;
}

.svg-stars3 {
	background: url("svg/sprite.css-769167c6.svg") 96.53267760525758% 73.66966651058071% no-repeat;
}

.svg-stars3-dims {
	width: 103.03px;
	height: 124.03px;
}

.svg-telegram_logo {
	background: url("svg/sprite.css-769167c6.svg") 84.70599396554498% 79.52923188570385% no-repeat;
}

.svg-telegram_logo-dims {
	width: 238.892px;
	height: 238.892px;
}

.svg-vk {
	background: url("svg/sprite.css-769167c6.svg") 99.42069790960196% 37.66394517722497% no-repeat;
}

.svg-vk-dims {
	width: 30.011px;
	height: 17.123px;
}

.svg-vk_round {
	background: url("svg/sprite.css-769167c6.svg") 98.23925490196079% 42.86589099816289% no-repeat;
}

.svg-vk_round-dims {
	width: 50px;
	height: 50px;
}

.svg-works_header {
	background: url("svg/sprite.css-769167c6.svg") 95.46999640555464% 39.52662909001795% no-repeat;
}

.svg-works_header-dims {
	width: 505.101px;
	height: 165.036px;
}

